.form-inline > * {
    margin: 5px 3px;
}

.form-inline input.boolean {
    margin: 5px 3px;
}

#new-donation-form {
    margin-top: 56px;
    margin-bottom: 56px;
}

#donation_donor {
    width: 210px;
}

#donation_weight {
    width: 70px;
}
